.search-box{
    position: absolute;
    top: 50%;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #99FFFF;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.about-us{
    color: #fff;
    background-size: cover;
}
.about-us h2{
    font-size: 40px;
    font-weight: 400;
    color: aqua;
}
.about-us p{
    font-size: 16px;
    font-weight: 400;
}
.about-us .card{
    border: none;
    background-color: transparent;

}
.about-us .card1{
    border: 1px solid #fff;
    background-color: #99FFFF;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}
.about-us h5{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.fa-cart-plus{
    color: green;
}

.fa-cart-arrow-down{
    color: red;
}

